################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReceivablesAnticipation/v15
/Domain/obj
/ReceivablesAnticipation/obj
/Domain/bin/Debug/netcoreapp2.0
